<img id="conferenceLogo" [src]="teamsService.getTeamImage(conference)">
<div class="row">
  <div class="col-4">
    <form>
      <div class="form-group">
        <label for="seasonSelectControl">Season</label>
        <select class="form-control" id="seasonSelectControl" (change)="changeSeason($event)">
          <option *ngFor="let season of seasons">{{ season }}</option>
        </select>
      </div>
    </form>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>
<div *ngIf="!loading">
  <app-sortable-table
    [rows]="teamsInfo"
    [numFields]="numberColumns"
    [dataMap]="dataMap"
    (onRowClick)="goToTeam($event)"
  ></app-sortable-table>
</div>
