<div class="jumbotron">
  <h1 class="display-4">Machine learning meets football</h1>
  <p class="lead">This is a site based on a personal project surrounding football and machine learning. The purpose is to demonstrate web development skills as well as my introduction and continued learning in the world of machine learning.</p>
  <hr class="my-4">
  <p>To read on about the models I have built and their purposes, click below.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/Models" role="button">Learn more</a>
  </p>
</div>
<app-scores></app-scores>
